* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Roboto;
    src: url(Roboto.ttf);
}

body {
    font-family: Roboto;
}

.top-bar {
    padding: 0 10vw;
    background-color: #242424;
}

ul {
    display: flex;
    justify-content: end;
    list-style: none;
}

.top-bar ul li {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center;  
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-bar {
    background-color: black;
    height: 100px;
    padding: 0 10vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar ul li {
    padding: 0 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    display: flex; 
    align-items: center;
    justify-content: center; 
    text-align: center;
}

/* .nav-bar ul li:hover {
    transform: scale(1.1);
} */

.welcome {
    background-image: url(welcome.webp);
    background-position: center;
    height: 564px;
}

.filter {
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    display:flex;
    align-items: center;
}

.welcome-text {
    color: white;
    width: 800px;
    margin: 0 10vw;
}

.blue-bar {
    width: 100px;
    color: #004cff;
    background-color: #004cff;
    height: 2px;
    border-radius: 2px;
    margin: 10px 0;
    border: 1px solid #004cff;
}

.welcome-text h2 {
    font-size: 1rem;
}

.round-button {
    background-color: white;
    color: #1b294a;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.round-button:hover{
    background-color: #1b294a;
    color: white;
}

.categories h3 {

    text-align: center;
    margin-bottom: 40px;
}

.blue-text {
    color: #004cff;
    cursor: pointer;
}

.categories {
    padding: 60px 10vw;
}

.category {
    /* border: 1px solid #1b294a; */
    height: 80px;
    background-color: #1b294a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    flex: 1;
    text-align: center;
    padding: 0 20px;
}

.category:hover{
    background-color: white;
    color: #1b294a;
    text-shadow: 1px 1px 1px gray;
}

.program-amount {
    font-size: .8rem;
    color: #f46e44;
}

.category-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    gap: 20px;
}

.popular {
    background-color: #1b1b1b;
    padding: 60px 10vw;
}

.popular-title {
    font-size: 2em;
    color: white;
    font-weight: bold;
}

.popular-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.popular-button {
    width: 200px;
    background-color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    color: #1b294a;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.popular-button:hover{
    background-color: #1b294a;
    color: white;
}

.banner-programs {
    padding: 60px 10vw;
    font-weight: 600;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.banner-program {
    width: 280px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.banner-program:hover {
    transform: scale(1.05)
}

.banner-image {
    width: 100%;
}

.duration {
    font-size: .8rem;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.calendar-icon{
    width: 16px;
    margin-top: -2px;
    margin-right: 2px;

}

.more-info {
    color:#004cff;
    font-size: .8rem;
    padding-top: 2px;
}

.action-call {
    text-align: center;
    background-color:#1b294a;
    color: white;
    padding: 60px 10vw;
}

.action-title {
    font-size: 2rem;
    font-weight: bold;
}

.sub-action {
    font-size: 1.5rem;
}

.why-choose {
    background-color: #2b2b2b;
    padding: 60px 10vw;
    color: white;
}

.why-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    text-align: center;
}

.why-icons img {
    height: 120px;
}

.learning-model {
    padding: 60px 10vw;
}

.learning-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.model-columns {
    display: flex;
    flex-wrap: wrap;
}

.model-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.model-column img {
    height: 150px;
    margin: 0 auto 40px auto;
}

footer {    
    background-color: #1b1b1b;
    color: white;
    padding-top: 60px;
    padding-bottom: 20px;
}
footer hr {
    margin-bottom: 10px;
    margin-top: 10px;
}
.footer-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    gap: 5vw;
}
.footer-div {
    flex: 1;
    min-width: 160px;
}
.footer-div-left {
    flex: 2;
    min-width: 300px;
}
footer a{
    color: white;
    text-decoration: none;
}
.subfooter {
    width: 100vw;
    text-align: center;
}
.social-icon {
    margin-right: 4px;
    vertical-align: middle;
}

.map {
    text-align: center;
    min-width: 300px;
}
.footer-title {
    margin-top: 40px;
    font-size: 20px;
}
.subfooter {
    padding-bottom: 60px;
    width: 80vw;
    margin: auto;
}

.subfooter hr {
    margin-bottom: 40px;
}

@media only screen and (max-width: 800px) {
    .menu-hide {
        display: none;
    }

    .top-bar {
        padding: 0 ;
    }

    .nav-bar {
        padding: 0 5vw;

    }

    .welcome-text {
        margin: 0 5vw;
    }

    .categories {
        padding: 60px 5vw;
    }

    .popular {
        padding: 60px 5vw;
    }

    .banner-programs {
        padding: 60px 5vw;
    }

    .action-call {
        padding: 60px 5vw;
    }

    .why-choose {
        padding: 60px 5vw;
    }

    .learning-model {
        padding: 60px 5vw;
    }
    
   
}